target
*.iml
/.idea
/tmp
atlassian-ide-plugin.xml
.bowerrc
bower_components
node_modules
/result*.xml
/*.epoch
/logDirectory_IS_UNDEFINED
/Infinispan-SingleFileStore
/log4j-*.jar
/*.log*
/docker.tag
allure-results/
.bloop/
**/*.bsp/
*.DS_Store
metals.*
settings.json
.history/**/*